{% extends 'base.html.jinja2' %}

{% block content %}
<div class="marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1>Statsify.com</h1>
    <p class="subheader">Check your spotify statistics and more!</p>
  </div>
</div>
{% endblock %}